<h2><%= @article.title %></h2>
<p><%= @article.text %></p>

<h3>List comments: </h3>
<% @article.comments.each do |comment| %>
  <p>
    <%= comment.author_comment %>
    <%= comment.body_comments %>
  </p>
<% end %>

<h3>Add comments: </h3>
<%= form_for([@article, @article.comments.build]) do |form| %>
  <p>
    <%= form.label :author_comment %><br>
    <%= form.text_field :author_comment %>
  </p>
  <p>
    <%= form.label :body_comments %><br>
    <%= form.text_area :body_comments %>
  </p>
  <%= form.submit("Save") %>
<% end %>


