<h1>Contacts#new</h1>
<p>Find me in app/views/contacts/new.html.erb</p>

<h2>Contacts us</h2>

<%= form_for :contact, url: {action: "create"} do |form| %>
  <% if @contact && @contact.errors.any? %>
    <p>
      <ul>
        <% @contact.errors.full_messages.each do |message_string| %>
          <li><%= message_string %></li>
        <% end %>
      </ul>
    </p>
  <% end %>
  <p>
    <%# <span>Title: </span><br> %>
    <%= form.label :email_journalist, "Email: " %><br>
    <%= form.text_field :email_journalist %>
  </p>
  <p>
    <%= form.label :message_journalist, "Message: " %><br>
    <%= form.text_area :message_journalist %>
  </p>
  <%= form.submit("Save message") %>
<% end %>