<!DOCTYPE html>
<html>
  <head>
    <title>BlogV20</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# <a href="/users/sign_in">Sing in</a> | <a href="/users/sign_out" data-method="delete">Sing out</a>
    <br>
    <br> %>
    <%= link_to "Sing in", new_user_session_path %> | <%= link_to("Sing out", destroy_user_session_path, method: :delete) %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
